@import "../../style/color.scss";
@import "../../style/btn.scss";

.total-amount {
    width: 250px;
    height: auto;
    margin-left: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: $primary-color;
    flex-shrink: 0;
    box-shadow: 0 0 10px $primary-color-dark;
    
    .total-amount__info {
        font-size: 16px;
        font-weight: 500;
        color: $primary-color-text;

        .total-amount__price {
            display: inline-block;
            margin-left: 10px;
            font-size: 20px;
            font-weight: 600;
        }
    }
    .total-amount__btn {
        width: 100%;
        margin-top: 25px;
        @extend %btn-shared;
    }
}