@import "../../style/color.scss";

.login {
    width: 50%;
    margin: 25px auto 0 auto;
    border-radius: 20px;
    padding: 25px;
    background-color: $primary-color;

    .login__title {
        margin-bottom: 15px;
        font-size: 36px;
        color: $primary-color-text;
    }
}