@import "../../style/color";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.cart__heading {
    margin: 25px 0;
    text-align: left;
    color: $primary-color;
    position: relative;
    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: $primary-color;

        position: absolute;
        bottom: -10px;
    }
}

.cart__body {
    display: flex;
    align-items: flex-start;
}

.cart__list {
    margin: 0 10px;
    .cart__item {
        display: flex;
        width: auto;
        height: 150px;
        border-radius: 10px;
        margin: 0 -10px 15px -10px;
        padding: 10px;
        background-color: white;
        overflow: hidden;
        position: relative;

        .cart__item-delete {
            height: 25px;
            width: 25px;
            border: none;
            border-radius: 50%;

            background: center / contain no-repeat url("./icon/delete.svg");

            position: absolute;
            top: 10px;
            right: 10px;

            transition: opacity .5s ease, transform .1s ease;

            &:hover,
            &:focus {
                opacity: .8;
            }
            &:active {
                transform: scale(.95)
            }
        };

        .cart__item-left {
            padding: 0 10px;
            flex-basis: 15%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        };
        .cart__item-midle {
            padding: 0 10px;
            flex-basis: 60%;
            align-self: center;

            .cart__item-title {
                font-size: 18px;
                font-weight: 500;
        
                .cart__item-title-link {
                    &:hover,
                    &:focus {
                        color: $accent-color;
                    }
                }
            }
        };
        .cart__item-right {
            padding: 0 10px;
            flex-basis: 25%;

            display: flex;
            flex-direction: column;
            .cart__item-price {
                margin-top: 10px;
                font-weight: 700;
                font-size: 24px;
            };
            .cart__item-quantity {
                display: flex;
                flex-grow: 1;
                align-items: end;
                justify-content: center;
                input {
                    width: 50px;
                    height: 25px;
                    text-align: center;
                    border: 3px solid $accent-color;

                    font-size: 16px;
                    font-weight: 600;
                    color: $primary-color;
                }
                .cart__item-remove,
                .cart__item-add {
                    width: 50px;
                    height: 25px;
                    border: none;
                    background-color: $accent-color;
                    font-size: 16px;
                    font-weight: 600;
                    color: $primary-color-text;

                    &:hover,
                    &:focus {
                        opacity: .9;
                    };
                    &:active {
                        transform: scale(1.05);
                    }
                }
                .cart__item-remove {
                    border-radius: 5px 0 0 5px;
                }
                .cart__item-add {
                    border-radius: 0 5px 5px 0;

                }
            }
        };
    }
}

.total-amount {
    width: 250px;
    height: auto;
    margin-left: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: $primary-color;
    flex-shrink: 0;
    .total-amount__info {
        font-size: 16px;
        font-weight: 500;
        color: $primary-color-text;

        .total-amount__price {
            display: inline-block;
            margin-left: 10px;
            font-size: 20px;
            font-weight: 600;
        }
    }
    .total-amount__btn {
        height: 40px;
        width: 100%;
        margin-top: 25px;
        border: none;
        border-radius: 10px;
        background-color: $accent-color;
        font-size: 16px;
        font-weight: 500;
        color: $primary-color-text;

        &:hover,
        &:focus {
            background-color: rgba($accent-color, .8);
        }
        &:active {
            transform: scale(.98);
        }
    }
}