@import "../../style/color.scss";

html, body {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  text-align: center;
  background-color: $primary-color-light;
  display: flex;
  flex-direction: column;
}

.app__container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  flex-grow: 1;
  position: relative;
}