@import "../../style/color.scss";

html, body {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  text-align: center;
  background-color: rgba($primary-color-light, .9);
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: center / cover url("./board.png");

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.app__container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  flex-grow: 1;
  position: relative;
}