@import "../../style/color.scss";

.sidebar-filter {
    width: 250px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgba($primary-color-text, .5);
    align-self: start;
    flex-shrink: 0;
    .sidebar-filter__price {
        margin: 10px 0;
    }
}

.sidebar-filter__title {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    color: $primary-color-dark;
}

.sidebar-filter__field-half {
    margin-top: 10px;
    display: flex;
    span {
        width: 15px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 2px;
            background-color: $primary-color;
        }
    }
    .sidebar-filter__input-half {
        width: 50%;
        height: 40px;
        border: 2px solid $primary-color;
        border-radius: 5px;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 500;
        color: $primary-color;
        &::placeholder {
            color: $primary-color;
        }
    }
}