@import "../../style/color.scss";

.sidebar-filter {
    width: 250px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: rgba($primary-color-text, .5);
    align-self: start;
    flex-shrink: 0;
    box-shadow: 0 0 10px $primary-color-dark;
    .sidebar-filter__item {
        padding: 5px 0;
        
        .sidebar-filter__title {
            text-align: left;
            font-size: 20px;
            font-weight: 700;
            color: $primary-color-dark;
        }
    }
}